//wrapper
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

//removing default styling
ul,
li,
a,
input {
  margin: 0%;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  transition: color linear 0.2s;
  &:hover {
    color: grey;
  }
}
