//form styles start
.contactUsForm input, .commentInfo input, textarea {
  margin: 50px 0px;
  border: none;
  border-bottom: 1px grey solid;
  &:focus {
    border-bottom: 3px grey solid;
    outline: none;
  }
  @include bodyStyle;
}

form.contactUsForm input, .commentInfo input {
  flex-basis: 32%;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

button.contactSubmit, button {
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 1px solid grey;
}

button.commentSubmit {
  margin: 0 0 100px 0;
}
//form styles end