//main header styles start
.mainHeader {
  position: relative;
  &::after {
    content: "";
    width: 1px;
    height: 100px;
    background: rgb(172, 169, 169);
    position: absolute;
    right: 50%;
    bottom: -60px;
    z-index: 10;
  }
  
  img {
    width: 100%;
    object-fit: contain;
  }
}
//main header styles end

//contact and blog header styles start
.contactHeader, .heroImage,  .blogHeader {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;

  }
  img {
    object-fit: cover;
    width: 100%;
  }
}
//contact and blog header styles end

