.skip-link {
  position: absolute;
  left: -1000px; //take it off the screen
  top: 5px; //bring it off the edge of the screen
  z-index: 10;
  &:focus {
    left: 0;
  }
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 20;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contactNav {
  background-color: $white;
  position: sticky;
}

h1 {
  display: inline-block;
}


.navLeft, .navRight {
  transition: all 0.3s linear;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 250px;
  text-transform: uppercase;
}


// nav icon styles
.search, .shop {
  background-color: transparent;
  border: none;
  i {
    font-size: 0.9rem;
  }
}

.shop {
  position: relative;
  display: flex;
  align-items: center;
  p {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $lightSage;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.0rem;
  }
}

