// branding section styles start
.branding {
  background-color: $lightSage;
}

.branding .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .brandingContainer {
    padding-top: 200px;
    padding-bottom: 75px;
    position: relative;
    .circleText {
      position: absolute;
      top: 90px;
      left: -125px;
    }
  }
 
}

.brandingInfoParent {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  .textContainer {
    width: 30%;
    text-align: center;
    margin-right: 20px;
    }
}

// branding section styles end

// info section styling start
.info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $white;
  .wrapper {
    display: flex;
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 70%;
  img {
    border-radius: 50%;
    padding-bottom: 20px;
  }
}

.infoLeft, .infoRight {
  flex-basis: 15%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
// info section styling end

// about product styling start
.aboutProduct {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
  position: relative;
  .wrapper {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &::after {
    content: "";
    width: 1px;
    height: 8vh;
    background: lightgrey;
    position: absolute;
    right: 50%;
    bottom: -60px;
    z-index: 10;
  }
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  .aboutBox {
    position: relative;
    display: flex;
    width: calc((100% / 2) - 60px);
    margin-right: 60px;
    i {
      border: 5px solid red;
      border-radius: 50%;
    }
}
}

// about product styling end

// meet our team styling start
.meetTheTeam {
  margin-bottom: 100px;
  h2 {
    text-align: center;
    margin: 100px 0;
  }
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; //space around would increase the margins and make the tile misaligned from the grid
  max-width: 1160px; //a picture is 270px, margin of 10px was added on left and right = 290px, 4 tiles max per row as seen on the example = 270+20=290*4=1160px. team container is set at this width so only 4 tiles max can be on a row
  margin-bottom: 40px;
  
  .teamPlayers {
    position: relative; //instead of using flexbox to align a single element, learn how to do it otherwise (google hot to center text vertically)
    flex-basis: calc(2 * 270px + 20px); //according to the example, this section is 2 tiles long PLUS their margin therefore 270px * 2 + 20px. this will give it exactly the space of two tiles
    height: 270px;
    background-color: $whiteTwo;
    margin: 10px;
    .textBlurb {
      padding: 25px 25px; //more text aligning without flexbox
      position: absolute;
      bottom: 0;
      h3 {
          margin-bottom: 20px;
      }
    }
  }
  .workWithUs {
    flex-basis: 270px; //try avoiding flex to align text vertically.
    height: 270px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    // conclusion -> margin, flexbasis and max-width are important for getting specific pixel perfect alignments (alongside calc())
  }
  .imgContainer {
    flex: 0 2 270px; //grow/shrink/flex-basis. shrink isnt really used here because its preferred to have less photos per row rather than have photos shrink and be difficult to see
    margin: 10px;
  }
}

// meet our team styling end

// portfolio (drop us a line) section style start
.dropALine .wrapper {
  max-width: 100%;
  display: flex;
  .textContainer {
    background-color: $lightSage;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    p {
      max-width: 50%;
      text-align: center;
      padding-bottom: 20px;
    }
    
  }
  .imgContainer {
    width: 50%;
    img {
    object-fit: cover;
    height: auto; //remember this in the future: setting height auto and witdh 100% allows it to grow responsively
    width: 100%;
    }
  }
}
// portfolio (drop us a line) section style end

// start contact section style
.contactHeader .wrapper {
  max-width: 100%;

  img {
    object-fit: contain;
  }
}

.contactDetails .wrapper {
  position: relative;

  h2 {
    // position: absolute;
    @include headerStyle;
  }

  >p {
    width: 50%;
  }
}

.contact {
  display: flex;
  justify-content: space-around;

  .contactBox {
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    margin: 25px 0;

    i {
      font-size: 40px;
    }

    h4 {
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: 5px;
      margin: 10px 0;
    }
  }
}

.contactBox.address {
  border-left: 3px solid grey;
  border-right: 3px solid grey; //could go back and do ::before and ::after

}
// end contact section style

// get in touch section start
.getInTouchBox {
  margin: 20px 0;

}

.commentInfo {
  display: flex;
  justify-content: space-between;
}

// get in touch section end