// base font size: 20px
html {
  font-size: 125%;
}

// body style
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
}

// logo style
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}

// secondary and tertiary heading styles
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: 1.8px;
  font-weight: 400;
  text-transform: uppercase;
}

// nav link styles
nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
}

// button styles
button {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 700;
  background-color: $white;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
}




