// colors
$lightSage: #C3DAB7;
$white: #FFFFFF;
$whiteTwo: #F6F6F6;
$black: #333333;

// font size default
$baseFont: 1rem;

//mixins

@mixin headerStyle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
  
}

