html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}

h2, h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 24px;
  letter-spacing: 1.8px;
  font-weight: 400;
  text-transform: uppercase;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 400;
}

button {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: 700;
  background-color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

ul,
li,
a,
input {
  margin: 0%;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

nav {
  position: fixed;
  background-color: rgb(240, 240, 242);
  width: 100%;
  top: 0px;
  z-index: 20;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
nav .wrapper h1 {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contactNav {
  background-color: #FFFFFF;
  position: sticky;
  overflow: hidden;
}

.wrapper .hamburgerNav, #openSlideOut {
  display: none;
  margin: 0 20px 0 0;
  font-size: 1.2rem;
}
.wrapper .hamburgerNav:hover, #openSlideOut:hover {
  cursor: pointer;
}

#openSlideOut {
  opacity: 0;
}
#openSlideOut:checked ~ .slideOutNav {
  left: 0;
}
#openSlideOut:hover {
  cursor: pointer;
}

.slideOutNav {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.5rem;
  position: fixed;
  left: -5000px;
  top: 0;
  background-color: #F6F6F6;
  max-width: 100%;
  min-width: 300px;
  width: 50%;
  height: 100vh;
  max-height: 100vh;
  padding: 50px 10px 50px 50px;
  z-index: 30;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.slideOutNav .closeSlideOut {
  background-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.slideOutNav li a {
  line-height: 3rem;
}

h1 {
  display: relative;
}

.navLeft, .navRight {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  text-transform: uppercase;
}

.navLeft {
  left: 0;
}

.navRight {
  right: 0;
}

.search, .shop {
  background-color: transparent;
  border: none;
}
.search i, .shop i {
  font-size: 0.9rem;
}

.shop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop p {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #C3DAB7;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1rem;
}

.mainHeader {
  position: relative;
}
.mainHeader::after {
  content: "";
  width: 1px;
  height: 100px;
  background: rgb(172, 169, 169);
  position: absolute;
  right: 50%;
  bottom: -60px;
  z-index: 10;
}
.mainHeader img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contactHeader .wrapper, .heroImage .wrapper, .blogHeader .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.contactHeader img, .heroImage img, .blogHeader img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.branding {
  background-color: #C3DAB7;
}

.branding .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.branding .wrapper .brandingContainer {
  padding-top: 200px;
  padding-bottom: 75px;
  position: relative;
}
.branding .wrapper .brandingContainer .circleText {
  position: absolute;
  top: 90px;
  left: -125px;
}

.brandingInfoParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}
.brandingInfoParent .textContainer {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 30%;
  text-align: center;
  margin-right: 20px;
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFFFFF;
}
.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoContainer {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.infoContainer img {
  border-radius: 50%;
  padding-bottom: 20px;
}

.infoLeft, .infoRight {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.aboutProduct {
  position: relative;
}
.aboutProduct .wrapper {
  width: 100%;
  max-width: 100%;
  position: relative;
}
.aboutProduct .wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.aboutProduct::after {
  content: "";
  width: 1px;
  height: 100px;
  background: lightgrey;
  position: absolute;
  right: 50%;
  bottom: -60px;
  z-index: 10;
}

.aboutContainer {
  position: absolute;
  top: 10%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.aboutContainer .aboutBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(50% - 60px);
  margin: 30px 20px 0 0;
}
.aboutContainer .aboutBox .aboutTextContainer {
  width: 70%;
}
.aboutContainer .aboutBox .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 50px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 20px 20px 0 0;
}
.aboutContainer .aboutBox .iconContainer i {
  font-size: x-large;
}

.meetTheTeam {
  margin-bottom: 100px;
}
.meetTheTeam h2 {
  text-align: center;
  margin: 100px 0;
}

.teamContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1160px;
  margin-bottom: 40px;
}
.teamContainer .teamPlayers {
  position: relative;
  -ms-flex-preferred-size: 560px;
      flex-basis: 560px;
  background-color: #F6F6F6;
  margin: 10px;
}
.teamContainer .teamPlayers .textBlurb {
  padding: 25px 25px;
  position: absolute;
  bottom: 0;
}
.teamContainer .teamPlayers .textBlurb h3 {
  margin-bottom: 20px;
}
.teamContainer .workWithUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  height: 270px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}
.teamContainer .workWithUs p {
  width: 50%;
  text-align: center;
}
.teamContainer .imgContainer {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 270px;
          flex: 0 2 270px;
}

.dropALine .wrapper {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.dropALine .wrapper .textContainer {
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.dropALine .wrapper .textContainer p {
  max-width: 50%;
  text-align: center;
  padding-bottom: 20px;
}
.dropALine .wrapper .imgContainer {
  width: 50%;
}
.dropALine .wrapper .imgContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}

.contactHeader {
  max-width: 100%;
}
.contactHeader img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.contactDetails .wrapper {
  position: relative;
}
.contactDetails .wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  word-wrap: break-word;
  width: 300px;
  line-height: 3rem;
  font-size: 2.5rem;
  position: relative;
  top: -85px;
  margin: 0;
}
.contactDetails .wrapper h2:before {
  content: "";
  position: absolute;
  top: -40px;
  display: inline-block;
  width: 10%;
  border: 3px solid black;
}
.contactDetails .wrapper h3 {
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 0 0 25px 0;
  -webkit-transition: linear 0.2s all;
  transition: linear 0.2s all;
}
.contactDetails .wrapper > p {
  width: 50%;
  -webkit-transition: linear 0.2s all;
  transition: linear 0.2s all;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact .contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 30px;
  margin: 25px 0;
}
.contact .contactBox i {
  font-size: 40px;
}
.contact .contactBox h4 {
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 10px;
  margin: 10px 0;
}

.contactBox.address {
  border-left: 2px solid lightgrey;
  border-right: 2px solid lightgrey;
}

.getInTouchBox {
  margin: 20px 0;
}

.commentInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog h2, .comments h2, .leaveAComment h2, .relatedPosts h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog h2 {
  margin: 100px 0 20px 0;
  font-size: 2.5rem;
  line-height: 3rem;
}

.articleInformation, .author, .writerHeading, .nameBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articleInformation h3, .author h3, .writerHeading h3, .nameBox h3 {
  font-size: 1.1rem;
}

.articleInformation {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.writerHeading, .relatedPosts h2, .comments h2, .leaveAComment h2 {
  border-bottom: 1px solid grey;
  padding: 75px 0 20px 0;
}

.author img {
  max-width: 25%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 73px;
}
.author .nameBox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.author p, .articleInformation p {
  color: grey;
}

.articleInformation {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.articleContent p {
  margin: 20px 0;
}

div.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.socials a i {
  padding: 0 15px 0 0;
}
div.socials p {
  margin: 0 15px 0 0;
}

.postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.postsContainer .posts {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
.postsContainer .posts p {
  padding: 20px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
.commentBox img {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.commentBox .textContainer {
  padding: 15px 20px 30px 20px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  position: relative;
}
.commentBox .textContainer::before {
  content: "";
  height: 0;
  width: 0;
  border-top: solid transparent 10px;
  border-left: solid transparent 10px;
  border-right: solid lightgrey 25px;
  border-bottom: solid transparent 10px;
  position: absolute;
  left: -33px;
}
.commentBox .textContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentBox .textContainer div h4 {
  margin: 0 10px 0 0;
}

footer {
  background-color: #333333;
  color: #FFFFFF;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contactBox .textContainer {
  padding: 100px 0;
}
.contactBox .textContainer h3 {
  padding-bottom: 50px;
}

.socials a i {
  padding: 20px 15px 0px 0px;
  font-size: 1rem;
}

.recentPosts li {
  list-style: disc;
}

.twitter h3 {
  text-align: end;
}
.twitter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerLogo p {
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-top: 1px solid rgb(73, 72, 72);
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.subscribe input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
}
.subscribe input::-webkit-input-placeholder {
  font-size: large;
}
.subscribe input::-moz-placeholder {
  font-size: large;
}
.subscribe input:-ms-input-placeholder {
  font-size: large;
}
.subscribe input::-ms-input-placeholder {
  font-size: large;
}
.subscribe input::placeholder {
  font-size: large;
}
.subscribe button {
  background-color: #C3DAB7;
}

.contactUsForm input, .commentInfo input, textarea {
  margin: 50px 0px;
  border: none;
  border-bottom: 1px grey solid;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.contactUsForm input:focus, .commentInfo input:focus, textarea:focus {
  border-bottom: 3px grey solid;
  outline: none;
}

form.contactUsForm input, .commentInfo input {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

button.contactSubmit {
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 1px solid grey;
}

button.commentSubmit {
  margin: 0 0 100px 0;
}

@media (max-width: 1500px) {
  .aboutContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(211, 211, 211, 0.5);
    width: 100%;
    height: 100%;
    top: 0%;
  }
  .aboutContainer .aboutBox {
    margin: 0%;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .aboutContainer .teamContainer {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 900px) {
  nav .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .wrapper .navLeft {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    left: -500px;
    position: absolute;
  }
  nav .wrapper .navRight {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    right: -500px;
    position: absolute;
  }

  .slideOutNav {
    font-size: 2rem;
  }

  .wrapper .hamburgerNav {
    display: inline;
  }
  .wrapper .hamburgerNav:checked ~ .slideOutNav {
    left: 0;
    -webkit-transition: 3s;
    transition: 3s;
  }

  .aboutContainer .aboutBox {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0 auto;
  }

  .aboutProduct img {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
    height: 1100px;
  }

  .info .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .wrapper .infoContainer {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .branding .wrapper .brandingInfoParent .textContainer {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0 30px;
  }

  .dropALine .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropALine .wrapper .textContainer, .dropALine .wrapper .imgContainer {
    width: 100%;
  }
  .dropALine .wrapper .textContainer {
    height: 500px;
  }

  .contactHeader img {
    height: 200px;
  }

  .contactDetails .wrapper h3, .contactDetails .wrapper p {
    -webkit-transition: 0.2s linear all;
    transition: 0.2s linear all;
    text-align: center;
    width: 100%;
  }
  .contactDetails .wrapper h2 {
    top: -120px;
    width: 100%;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.8);
  }
  .contactDetails .wrapper h2::before {
    display: none;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contactBox i, .contact .contactBox h4 {
    text-align: center;
  }
  .contact .contactBox.address {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
  }

  .blog h2 {
    text-align: center;
    line-height: 3rem;
  }

  .writerHeading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .writerHeading .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .articleInformation {
    width: 100%;
  }
  .articleInformation .date, .articleInformation .category, .articleInformation .tags {
    margin: 15px 0;
  }
  .articleInformation .date p, .articleInformation .category p, .articleInformation .tags p {
    text-align: center;
  }

  .relatedPosts .postsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .relatedPosts .postsContainer .posts p {
    text-align: center;
    padding: 10px 0 20px 0;
  }

  .relatedPosts h2, .comments h2, .leaveAComment h2 {
    line-height: 2rem;
    text-align: center;
  }

  .commentInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .wrapper .contactBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper .contactBox .textContainer {
    padding: 30px 0;
    text-align: center;
  }
  footer .wrapper .contactBox .textContainer h3 {
    padding: 0 0 15px 0;
    text-align: center;
  }
  footer .wrapper .contactBox .textContainer div.socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 500px) {
  .slideOutNav {
    font-size: 1.5rem;
  }

  .aboutProduct img {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: 1500px;
  }
  .aboutProduct .aboutContainer .aboutBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .aboutProduct .aboutContainer .aboutBox h2 {
    text-align: center;
  }

  .branding .wrapper .brandingInfoParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .branding .wrapper .brandingInfoParent .textContainer {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 50%;
  }

  .articleInformation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
}